-- $!{data.helpers.file_contents('app/client-side-functions.js')}($!{JSON.stringify(data.model.html)},$!{JSON.stringify(data.url_to('/jcc-threats-:date.svg', data.model.date))},${data.model.aspectRatio})
