#hpd-jcc-threats {
  position: relative; // so we can position tooltip

  &>.svg-container {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: auto;

    &>svg {
      width: 100%;
      height: 100%;
    }

    circle.highlight {
      pointer-events: none;
      fill: none;
      stroke: black;
      stroke-width: 2px;
    }
  }

  &>.tooltip {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    min-width: 12rem;
    max-width: 25rem;
    background: white;
    padding: .5rem;
    font-family: NotoNashkArabic, ProximaNova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: .85rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);

    h5 {
      margin: -.5rem -.5rem .5rem;
      padding: .25rem .5rem .125rem; // The heading happens to stay above the baseline
      background: #fafafa;
      border-bottom: 1px solid #eee;
      font-size: .85rem;
      font-family: ProximaNovaCond-Extrabld, NotoKufiArabic-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-weight: bold;
    }

    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: .25rem 0;
      padding: 0;
    }

    time {
      display: inline-block;
      font-weight: bold;
      width: 3.5rem;
    }

    span.place {
      display: block;
      font-size: .8rem;
      font-style: italic;
      color: #666;
    }

    display: none;
    &.visible { display: block; }
  }
}
