@import 'shared-styles';

#hpd-jcc-threats {
  // This is embedded in a big page that has lots of CSS. Code defensively:
  // overwrite everything and nest everything inside #hpd-jcc-threats.
  position: relative; // so we can position tooltip

  figure {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  figcaption {
    font-family: $header-font-family;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }

  div.summary {
    margin: 1rem 0 0;
    padding: 0;
    width: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }

  ul.summary {
    white-space: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: visible;
    min-width: auto;
    max-width: auto;

    li {
      display: block;
      margin: 0;
      padding: 0;
      line-height: 1.125rem;
    }

    span.description {
      display: inline-block;
      font-family: $body-font-family;
      font-weight: normal;
      font-size: 1rem;
      vertical-align: middle;
    }

    span.count {
      display: inline-block;
      font-family: $header-font-family;
      font-weight: bold;
      font-size: 2.5rem;
      line-height: 2.5rem;
      color: $line-color;
      width: 4rem;
      padding-right: .5rem;
      text-align: right;
      vertical-align: middle;
    }

    li.n-threatened span.count {
      color: $threat-color;
    }
  }

  .svg-container {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: auto;

    &>svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &>.tooltip {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    min-width: 12rem;
    max-width: 25rem;
    background: white;
    padding: .5rem;
    font-family: NotoNashkArabic, ProximaNova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: .85rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);

    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: .25rem 0;
      padding: 0;
    }

    span.time {
      display: inline-block;
    }

    span.city {
      font-weight: bold;
    }

    span.place {
      display: block;
      font-size: .8rem;
      font-style: italic;
      color: #666;
    }

    display: none;
    &.visible { display: block; }
  }

  .last-updated {
    font-family: $body-font-family;
    font-style: italic;
    font-size: .85rem;
    color: $line-color;
  }
}
