$line-color: #6d6e71;
$threat-color: #e34433;

$body-font-family: NotoNashkArabic, ProximaNova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$header-font-family: ProximaNovaCond-Extrabld, NotoKufiArabic-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
