@import 'shared-styles';

.states {
  fill: white;
  stroke: $line-color;
  stroke-width: 1px;
}

.mesh {
  fill: white;
  stroke: $line-color;
  stroke-width: 1px;
}

.places {
  circle {
    fill: $threat-color;
    cursor: pointer;
    mix-blend-mode: darken;

    // Add a giant stroke. It increases the tappable radius on mobile.
    // remember, half the stroke-width goes _inwards_. So the number in this
    // stylesheet is double the effective increase in radius.
    // double whatever
    stroke: black;
    stroke-opacity: 0;
    stroke-width: 50px;
  }

  text {
    font-family: $header-font-family;
    font-size: 55px;
    fill: white;
    stroke: none;
    text-anchor: middle;
    transform: translate(0, 20px);
    pointer-events: none;
  }
}

circle.highlight {
  fill: none;
  stroke: #5b1b16;
  stroke-opacity: 1;
  stroke-width: 5px;
  pointer-events: none;
}
