.states {
  fill: white;
  stroke: #6d6e71;
  stroke-width: 1px;
}

.mesh {
  fill: white;
  stroke: #6d6e71;
  stroke-width: 1px;
}

.places {
  circle {
    fill: #e34433;
    stroke: white;
    cursor: pointer;
  }
  text {
    font-family: NotoNashkArabic, ProximaNova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 50px;
    fill: white;
    stroke: none;
    text-anchor: middle;
    alignment-baseline: middle;
    pointer-events: none;
  }
}
