.jcc-threat-map1 {
  fill: white;
  stroke: #6d6e71;
  stroke-width: 1;
}

.jcc-threat-map2 {
  fill: white;
  stroke: #6d6e71;
  stroke-width: 1;
}

.jcc-threat-map3 {
  fill: #e34433;
  stroke: white
}
