@import 'shared-styles';

.states {
  fill: white;
  stroke: $line-color;
  stroke-width: 1px;
}

.mesh {
  fill: white;
  stroke: $line-color;
  stroke-width: 1px;
}

.places {
  circle {
    fill: $threat-color;
    stroke: white;
    stroke-width: 1px;
    cursor: pointer;

    &.highlight {
      stroke: black;
      stroke-width: 3px;
    }
  }

  text {
    font-family: $header-font-family;
    font-size: 55px;
    fill: white;
    stroke: none;
    text-anchor: middle;
    transform: translate(0, 20px);
    pointer-events: none;
  }
}
