<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JCC Threats test page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    </style>
  </head>
  <body>
    <p>The all-important embed code:</p>
    <pre>
      &lt;div id="hpd-jcc-threats"&gt;&lt;/div&gt;
      &lt;script src="${data.url_to('/jcc-threats-' + data.model.date + '.js')}"&gt;&lt;/script&gt;
    </pre>
    <p>Here's what you'll see on the page:</p>
    <div style="width: 700px; margin: 0 auto;">
      <div id="hpd-jcc-threats"></div>
      <script src="${data.url_to('/jcc-threats-' + data.model.date + '.js')}"></script>
    </div>
    <p>And here's where the text below will appear.</p>
  </body>
</html>
