<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JCC Threats test page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    </style>
  </head>
  <body>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <p>Some text above...</p>
    <div id="hpd-jcc-threats"></div>
    <script src="${data.url_to('/jcc-threats-' + data.model.date + '.js')}"></script>
    <p>Some text below</p>
  </body>
</html>
